In [4]:
# 1. Establish a connection between Python and the Sakila database.

import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [6]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [11]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM city')
    result = connection.execute(query)

result

In [22]:
row

(1, 'A Coruña (La Coruña)', 87, datetime.datetime(2006, 2, 15, 4, 45, 25))

In [44]:
#2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. 
# The function should take in three parameters:
#engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
#month: an integer representing the month for which rental data is to be retrieved.
#year: an integer representing the year for which rental data is to be retrieved.
#The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

def rentals_month(engine, month, year):
    query = text('''
        SELECT * FROM RENTAL
        WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year;
    ''')
    
    return pd.read_sql(query, con=engine, params={'month': month, 'year': year})

In [46]:
# Retrieve rental data for Feb 2006
df_rentals = rentals_month(engine, 2, 2006)

# Display the first few rows
print(df_rentals.head())

   rental_id         rental_date  inventory_id  customer_id return_date  \
0      11496 2006-02-14 15:16:03          2047          155        None
1      11541 2006-02-14 15:16:03          2026          335        None
2      11563 2006-02-14 15:16:03          1545           83        None
3      11577 2006-02-14 15:16:03          4106          219        None
4      11593 2006-02-14 15:16:03           817           99        None

   staff_id         last_update
0         1 2006-02-15 21:30:53
1         1 2006-02-15 21:30:53
2         1 2006-02-15 21:30:53
3         2 2006-02-15 21:30:53
4         1 2006-02-15 21:30:53

In [70]:
# 3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year
# and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.
# The function should also include the month and year as parameters and use them to name the new column according to the month and year.
# for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".
#Hint: Consider making use of pandas groupby()

def rental_count_month(df_rentals, month, year):
    
    # Generate dynamic column name
    column_name = f"rentals_{month:02}_{year}"
    
    # Group by customer_id and count the number of rentals
    df_rental_count = df_rentals.groupby("customer_id")["rental_id"].count().reset_index(name=column_name)

    
    return df_rental_count

# Assuming df_rentals is the DataFrame from rentals_month function
df_rental_summary = rental_count_month(df_rentals, 8, 2005)

# Display the result
print(df_rental_summary.head())

   customer_id  rentals_08_2005
0            5                1
1            9                1
2           11                1
3           14                1
4           15                2

In [84]:
# 4.Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. 
# The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

def compare_rentals(df1, df2):
    
    # Merge both DataFrames on customer_id
    df_combined = pd.merge(df1, df2, on='customer_id', suffixes=('_month1','_month2'))
    
    # Extract column names for rental counts
    rentals_column_month1 = df1.columns[1]
    rentals_column_month2 = df2.columns[1]
    
    # Calculate the difference between rental counts
    df_combined['difference'] = df_combined[rentals_column_month2] - df_combined[rentals_column_month1]
    
    return df_combined

df_rentals_1 = rentals_month(engine,5,2005)
df_rentals_2 = rentals_month(engine,6,2005)

df_rental_summary_1 = rental_count_month(df_rentals_1, 5, 2005)  # Rentals for May 2005
df_rental_summary_2 = rental_count_month(df_rentals_2, 6, 2005)  # Rentals for June 2005

print(df_rental_summary_1.head())
print(df_rental_summary_2.head())

df_comparison = compare_rentals(df_rental_summary_1, df_rental_summary_2)
print(df_comparison.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3
   customer_id  rentals_06_2005
0            1                7
1            2                1
2            3                4
3            4                6
4            5                5
   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7           5
1            2                1                1           0
2            3                2                4           2
3            5                3                5           2
4            6                3                4           1